div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 2s ;
    transform: translatex(155px);
    animation-name: coloranimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction: initial;
    /* transform: skewx(54deg); */
   
    /* transform:rotate(45deg) ; */
     /* transform: z (90deg) ;
    position: absolute;
    top:100px;
    left:500px;
    transform: scale(3,5) */

/* div:hover{
    background-color: red;
    color:aliceblue;
    font-size: 20px;
    transform: scale(2,3); */
    @keyframs colorAnimate {
        from {
            left:0px;
            background-color:yellow;
        }
        to{
            left: 200px;
            background-color: red;
        }
        
    }
     0%{ 
            left:0px;
            background-color:yellow;
        }
        50%{
            left: 200px;
            background-color: red;
        }
        
 100%{
            left: 200px;
            background-color: red;
        }
        

transition-timing-function: ease-in;
transition-delay: 3s;
}
div:active{
    background-color:blue;
}
