.navbar{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: top;
}
    .items{ 
     padding-right: 400px;
        color: orange;
        text-decoration: none;
        font-size: 30px;
          display: inline-block;
        padding-top: 15px;
    }
    .amazon form{
        display: inline-block;
        padding-top: 15px;
}
.item{ 
     padding-right: 410px;
     text-decoration: none;
     display: flex;
     padding-top: 15px;
}
button{
    background-color: #f08804;
    color: white;

}
.item{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
html{
    scroll-behavior: smooth;
}
  .hero-section{
   
    height: 1500px;
    
    background-image: url("i.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.back{
    display: block;
    background-color: #37475a;
    text-align: center;
    padding: 35px;
    
   
}
.back a{
    color: white;
    text-decoration: none;
}

/* #box1{
    height: 400px;
    width: 400px;
    background-image: url("iphone.png");
    background-size: cover;
}
#box2{
    height: 400px;
    width: 400px;
     background-image: url("laptop.png");
    background-size: cover;
}

#box3{
    height: 400px;
    width: 400px;
    background-image: url("photo.jpeg");
    background-size: cover;
} */
.content{
    height: 1200px;
    display: flex;
    gap:20px;
}



